@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

@layer components {
  body {
    @apply dark:bg-[#0a0a0a];
  }
  .list_item_img_container::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    @apply transition-all duration-150 hover:bg-darkSecondary hover:bg-opacity-30;
  }
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
